<a href="https://colab.research.google.com/github/dt2229/sandp500/blob/main/DB_lstm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('white')

import statsmodels.api as sm
import statsmodels.tsa.stattools as ts

from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import time

In [2]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 773 kB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [3]:
import yfinance

DB = yfinance.download (tickers = "DB", start = "2012-01-03", 
                              end = "2022-10-15", interval = "1d")

[*********************100%***********************]  1 of 1 completed

In [4]:
DB.reset_index(inplace = True)
DB['Date'] = DB['Date'].apply(lambda x: str(x)[:10])
DB.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2012-01-03  37.853054  38.349236  37.738548  38.005726  32.415062  2675544
1  2012-01-04  36.784351  37.013359  36.202290  36.860687  31.438459  2407256
2  2012-01-05  34.351147  34.856869  33.921757  34.570610  29.485252  4930421
3  2012-01-06  33.912212  33.912212  32.652672  32.690842  27.882000  4366178
4  2012-01-09  32.423664  32.461830  31.765266  32.099236  27.377419  5461966

In [5]:
DB.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
DB['ret'] = DB['Adj Close'].pct_change()
data = DB[['Date', 'Adj Close']]
data.head()

         Date  Adj Close
0  2012-01-03  32.415062
1  2012-01-04  31.438459
2  2012-01-05  29.485252
3  2012-01-06  27.882000
4  2012-01-09  27.377419

In [6]:
data.set_index('Date', inplace = True)
import math

In [7]:
close_prices = data['Adj Close']
values = close_prices.values
training_data_len = math.ceil(len(values)* 0.8)

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(values.reshape(-1,1))
train_data = scaled_data[0: training_data_len, :]

x_train = []
y_train = []

for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i, 0])
    y_train.append(train_data[i, 0])
    
x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [8]:

test_data = scaled_data[training_data_len-60: , : ]
x_test = []
y_test = values[training_data_len:]

for i in range(60, len(test_data)):
  x_test.append(test_data[i-60:i, 0])

x_test = np.array(x_test)
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

In [9]:
from sklearn.model_selection import TimeSeriesSplit
def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / actual)) * 100

In [10]:
tscv = TimeSeriesSplit(max_train_size=None, n_splits=3)
print(tscv)

mape_lst = []

for train_index, valid_index in tscv.split(x_train):
  X_train, X_valid = x_train[train_index], x_train[valid_index]
  Y_train, Y_valid = y_train[train_index], y_train[valid_index]
  model = keras.Sequential()
  model.add(layers.LSTM(100, return_sequences=True, input_shape=(x_train.shape[1], 1)))
  model.add(layers.LSTM(100, return_sequences=False))
  model.add(layers.Dense(25))
  model.add(layers.Dense(1))
  model.summary()
  model.compile(optimizer='adam', loss='mean_squared_error')
  model.fit(X_train, Y_train, batch_size= 64, epochs=3)
  predictions = model.predict(X_valid)
  #predictions = scaler.inverse_transform(predictions)
  metrics = mape(predictions, Y_valid)
  print(metrics)
  mape_lst.append(metrics)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None)
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 60, 100)           40800

 lstm_1 (LSTM)               (None, 100)               80400

 dense (Dense)               (None, 25)                2525

 dense_1 (Dense)             (None, 1)                 26

=================================================================
Total params: 123,751
Trainable params: 123,751
Non-trainable params: 0
_________________________________________________________________
Epoch 1/3
9/9 [==============================] - 12s 305ms/step - loss: 0.1769
Epoch 2/3
9/9 [==============================] - 3s 265ms/step - loss: 0.0211
Epoch 3/3
9/9 [==============================] - 1s 165ms/step - loss: 0.0073
17/17 [==============================] - 1s 29ms/step
26.41160753460477
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 60, 100)           40800

 lstm_3 (LSTM)               (None, 100)               80400

 dense_2 (Dense)             (None, 25)                2525

 dense_3 (Dense)             (None, 1)                 26

=================================================================
Total params: 123,751
Trainable params: 123,751
Non-trainable params: 0
_________________________________________________________________
Epoch 1/3
17/17 [==============================] - 7s 172ms/step - loss: 0.0654
Epoch 2/3
17/17 [==============================] - 3s 168ms/step - loss: 0.0063
Epoch 3/3
17/17 [==============================] - 3s 165ms/step - loss: 0.0031
17/17 [==============================] - 1s 28ms/step
25.4464148914755
Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 60, 100)           40800

 lstm_5 (LSTM)               (None, 100)               80400

 dense_4 (Dense)             (None, 25)                2525

 dense_5 (Dense)             (None, 1)                 26

=================================================================
Total params: 123,751
Trainable params: 123,751
Non-trainable params: 0
_________________________________________________________________
Epoch 1/3
25/25 [==============================] - 8s 174ms/step - loss: 0.0388
Epoch 2/3
25/25 [==============================] - 5s 185ms/step - loss: 0.0022
Epoch 3/3
25/25 [==============================] - 6s 215ms/step - loss: 0.0011
17/17 [==============================] - 1s 29ms/step
62.65862714729023

In [11]:
model = keras.Sequential()
model.add(layers.LSTM(100, return_sequences=True, input_shape=(x_train.shape[1], 1)))
model.add(layers.LSTM(100, return_sequences=False))
model.add(layers.Dense(25))
model.add(layers.Dense(1))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_6 (LSTM)               (None, 60, 100)           40800

 lstm_7 (LSTM)               (None, 100)               80400

 dense_6 (Dense)             (None, 25)                2525

 dense_7 (Dense)             (None, 1)                 26

=================================================================
Total params: 123,751
Trainable params: 123,751
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(x_train, y_train, batch_size= 1, epochs=3)

Epoch 1/3
2112/2112 [==============================] - 78s 35ms/step - loss: 0.0018
Epoch 2/3
2112/2112 [==============================] - 69s 32ms/step - loss: 6.9774e-04
Epoch 3/3
2112/2112 [==============================] - 68s 32ms/step - loss: 5.8478e-04

In [13]:
predictions = model.predict(x_test)
predictions = scaler.inverse_transform(predictions)

17/17 [==============================] - 1s 27ms/step

In [14]:
mape(predictions, y_test)

19.05942529813318